@charset "UTF-8";

/*
  Paleta de cores
  verde: #49a09d
  lilás: #5f2c82
*/ 

/* Typical Devide Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 320px) {


    section#login {
        height: 360px;
        width: 175px;
    }

    section#login > div#imagem {
        float: top;
        width: 100%;
        height: 35%;
        border-top-right-radius: 0px;
    }

    section#login > div#formulario {
        float: bottom;
        width: 100%;
        font-size: 0.6em;
    }
    
    section#login > div#formulario > h1 {
        padding: 2px;
        font-size: 1.4em;
    }
    
    section#login > div#formulario > p {
        margin-bottom: 5px;
        font-size: 1.1em;
    }

    form > div.campo {
        height: 30px;
        margin: 3px 0;
    }
    
    div.campo > span {
        width: 25px;
        padding: 1px;
    }

    div.campo > input {
        width: calc(100% - 28px);
        transform: translateY(-7px);
    }
    
    form > input[type=submit] {
        font-size: 1.2em;
        height: 30px;
    }

    form > a.botao {
        font-size: 1.2em;
        height: 30px;
    }
    
    form > a.botao > span {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }


    section#login {
        width: 80vw;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-top-right-radius: 0px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 993px) {

    html {
        overflow: auto;
    }

    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
        background-repeat: no-repeat;
        overflow: hidden;
        min-height: 100vh;
        flex-direction: column;
    }

    section#login {
        width: 950px;
        height: 500px;
    }    
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-top-left-radius: 0px;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
}